<!DOCTYPE html> 
<html> 
  <head> 
    <title>UFB Online Schedule</title> 
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="apple-mobile-web-app-capable" content="yes" />
    <meta name="apple-mobile-web-app-status-bar-style" content="black" />
    <link rel="apple-touch-icon" href="apple-touch-icon-57x57.png" />
    <link rel="apple-touch-icon" sizes="72x72" href="apple-touch-icon-72x72.png" />
    <link rel="apple-touch-icon" sizes="114x114" href="apple-touch-icon-114x114.png" />
    <link rel="apple-touch-startup-image" href="apple-touch-startup-image-320x460.png" />
    <link rel="stylesheet" href="http://code.jquery.com/mobile/1.2.0/jquery.mobile-1.2.0.min.css" />
    <script src="http://code.jquery.com/jquery-1.8.3.min.js"></script>
    <script src="http://code.jquery.com/mobile/1.2.0/jquery.mobile-1.2.0.min.js"></script>
  </head>
  
  <body>
    <div data-role="page" id="content" dir='rtl'>
      <div data-role="header">
        {% block header %}{% endblock %}
      </div>
      <div data-role="content">
        {% block content %}{% endblock %}
      </div>
      <div data-role="footer">
        {% block footer %}{% endblock %}
      </div>
    </div>
  </body>

</html>
