{% extends "base_user.html" %}
{% block content %}
{% if error_message %}<p><strong>{{ error_message }}</strong></p>{% endif %}

<form action="/schedule/workout_register" method="post">
{% csrf_token %}
{% for workout in available_workouts %}
    <input type="radio" name="workout" id="workout{{ forloop.counter }}" value="{{ workout.pk }}" />
    <label for="workout{{ forloop.counter }}">{{ workout }}</label>
{% endfor %}
<input type="submit" value="הירשמ/י" />
</form>
{% endblock %}
